{%- comment -%}
This file has been modified by the Yoast SEO for Shopify app.
You can learn more about this (and learn how to cleanly revert these changes) at https://yoa.st/removing-theme-changes.
{%- endcomment -%}
{%- liquid
	assign disabled_by_yoast_seo = true
	if content_for_header contains 'yoast-active-script'
		assign disabled_by_yoast_seo = false
	endif
-%}
{% comment %}
** FAQ page - custom view **
- Page template section
- Uses blocks
{% endcomment %}

{%- comment -%}Yoast SEO schema control block: start.{%- endcomment -%}
{%- assign yoast_seo_settings = shop.metafields.yoast_seo.settings.value | default: shop.metafields.yoast_seo.settings -%}
{%- if disabled_by_yoast_seo or yoast_seo_settings.schema.useTheme.schema or yoast_seo_settings.schema.useTheme.webpage -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {% for block in section.blocks %}
      {% unless block.type == 'heading' %}
        {
          "@type": "Question",
          "name": "{{ block.settings.title | escape }}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{ block.settings.subtitle | strip_html }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endunless %}
    {% endfor %}
  ]
}
{%- comment -%}Yoast SEO schema control block: end.{%- endcomment -%}
</script>
{%- endif -%}

{% if section.settings.image != blank %}
  <div class="banner-section header_banner dark-overlay-{{ section.settings.slideshow_post_darken }}">
    {% render 'image-element',
            image: section.settings.image,
            alt: section.settings.image.alt,
            stretch_width: true,
            additional_classes: 'banner-section__image'
    %}
    <div class="banner-section__caption">
      <div class="container">
        <div class="five-eighths offset-by-three columns center">
          <h1 class="banner-section__caption-headline">{{ page.title }}</h1>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<section class="section">
  <div class="container">
    {% if section.settings.image == blank %}
      <div class="faq__page-title one-whole column">
        <h1>{{ page.title }}</h1>
      </div>
    {% endif %}

    {% if page.content != '' %}
      <div class="faq__page-content one-whole column">
        {{ page.content }}
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="one-whole column">
        <div class="faq__content is-flex is-justify-space-between {% if section.settings.page_image %}faqImage--true{% endif %} faqImage--{{ section.settings.image_alignment }}">
          <div class="faq__column">
            <dl class="faq__accordion">
              {% for block in section.blocks %}
                {% if block.type == "heading" and block.settings.heading != blank %}
                  <h2 class="faq__heading">{{ block.settings.heading }}</h2>
                {% endif %}

                {% if block.settings.title != blank %}
                  <dt>
                    <button type="button" aria-controls="panel-{{ block.id }}" aria-expanded="true">
                      <span class="icon-plus"></span>{{ block.settings.title }}
                    </button>
                  </dt>
                  <dd id="panel-{{ block.id }}" aria-hidden="false">{{ block.settings.subtitle }}</dd>
                {% endif %}
              {% endfor %}
            </dl>
          </div>

          {% if section.settings.page_image != blank %}
            <div class="faq__column">
              {% render 'image-element',
                      image: section.settings.page_image,
                      alt: section.settings.page_image.alt,
                      additional_classes: 'faq__image'
              %}
            </div>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "FAQ",
    "class": "shopify-section--page-faq-template",
    "settings": [
      {
        "type": "header",
        "content": "Banner"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "1600 x 600px recommended"
      },
      {
        "type": "checkbox",
        "id": "slideshow_post_darken",
        "label": "Darken banner image",
        "default": false
      },
      {
        "type": "header",
        "content": "FAQ image"
      },
      {
        "type": "image_picker",
        "id": "page_image",
        "label": "Image",
        "info": "1000 x 1000px recommended"
      },
      {
        "type": "select",
        "id": "image_alignment",
        "label": "Position",
        "default": "right",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }
    ],
    "blocks": [
      {
        "name": "Heading",
        "type": "heading",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Title"
          }
        ]
      },
      {
        "name": "Frequently asked question",
        "type": "Content",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "subtitle",
            "label": "Answer"
          }
        ]
      }
    ],
    "default": {
      "settings": {
      },
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "Section"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "heading",
          "settings": {
            "heading": "Section"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        },
        {
          "type": "Content",
          "settings": {
            "title": "Title",
            "subtitle": "<p>Include a helpful and informative answer to the frequently asked question here.</p>"
          }
        }
      ]
    }
  }
{% endschema %}
